# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://olxscrapper:<password>@cluster0.s8fipxl.mongodb.net/olxdev?retryWrites=true&w=majority"

OLX_HOME_URL="https://www.olx.com.br/imoveis/aluguel/casas/estado-sp/regiao-de-sao-jose-do-rio-preto/regiao-de-sao-jose-do-rio-preto/sao-jose-do-rio-preto"
OLX_HOUSE_LINK_SELECTOR="li.sc-1mburcf-1 > a"
OLX_HOUSE_FIELD_SELECTOR=".sc-hmzhuo.ad__sc-1f2ug0x-3.sSzeX.sc-jTzLTM.iwtnNi"
OLX_PAGE_SEARCHS_LIMIT=50